$primary-normal: #362b07;
$primary-dark: #e4bb03;
$primary-light: #f1d222;

$secondary-normal: #554903;
$secondary-dark: #221f10;
$secondary-light: #3f3d24;

$black-normal: #554d03;
$black-dark: #221e10;
$black-light: #3f3924;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-light: #fefbff;

$purple-normal: #fdef32;
$purple-dark: #9e8720;
$purple-light: #fdef32;

$purple-navy: #e4c203;
$purple-navy-transparent: #e4e003b6;
$black_text: #000000;